<!DOCTYPE html>
<html>
<head>
    <base href="/">
    <title>Countdown</title>
    <!-- Materialize - Compiled and minified CSS -->
    <link type="text/css" rel="stylesheet" href="/stylesheets/materialize.css"  media="screen,projection"/>
</head>
<body class="light-blue accent-3">
    <div class="container">
        <cd-app>Loading...</cd-app>
    </div>

    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="/js/materialize.min.js"></script>
    <!-- Angular 2 Application load -->
    <script src="/js/app/bundle.js"></script>
</body>
</html>
