        <cd-display [answerWord]="defaultAnswer"></cd-display>

        <div class="row">
            <div class="col s6 user-feedback">
                "You're doing fine..."
            </div>

            <cd-clock class="col s6"></cd-clock>
        </div>

        <div class="row user-input">
            <div class="input-field col s7">
                <input placeholder="What have you got?" id="word-input" type="text">
            </div>
            <button class="col s5 input-btn btn waves-effect waves-light"
                    [class.disabled]="true">Lock In</button>
        </div>
