<div class="row">
    <div class="col s4 offset-s4">

        <cd-display [word]="defWord"></cd-display>

        <div class="row centered buttons">
            <button class="col s6 btn waves-effect waves-light light-blue darken-4"
                    (click)="vowelClicked()"
                    [class.disabled]="index >= 9"
            >Vowel</button>
            <button class="col s6 btn waves-effect waves-light light-blue darken-4"
                    (click)="consonantClicked()"
                    [class.disabled]="index >= 9"
            >Consonant</button>
        </div>

        <div class="row animations">
            This is it.
        </div>

        <div class="row user-input">
            <div class="input-field col s7">
                <input placeholder="What have you got?" id="word-input" type="text">
            </div>
            <button class="col s5 input-btn btn waves-effect waves-light">Lock In</button>
        </div>
    </div>
</div>
