<svg version="1.1"
     xmlns="http://www.w3.org/2000/svg"
     viewBox="0 0 204 204">

    <g class="clock_face">

        <!-- Clock Ark -->
        <circle cx="102" cy="102" r="100"
                fill="#F5F5F5"
                stroke-width="3"
                stroke="#01579b"/>

        <circle cx="102" cy="102" r="98"
                fill="#FFFFFF"
                stroke-width="3"
                stroke="#E0E0E0"/>

        <!-- 1st 5 second mark -->
        <line x1="3" y1="102" x2="102" y2="102"
              transform="rotate(15, 102, 102)"
              stroke-width="1"
              stroke="#E0E0E0"/>

        <line x1="3" y1="102" x2="102" y2="102"
              transform="rotate(30, 102, 102)"
              stroke-width="1"
              stroke="#E0E0E0"/>

        <line x1="5" y1="102" x2="22" y2="102"
              transform="rotate(30, 102, 102)"
              stroke-width="3"
              stroke="#01579b"/>


        <!-- 2nd 5 second mark -->
        <line x1="3" y1="102" x2="102" y2="102"
              transform="rotate(45, 102, 102)"
              stroke-width="1"
              stroke="#E0E0E0"/>

        <line x1="3" y1="102" x2="102" y2="102"
              transform="rotate(60, 102, 102)"
              stroke-width="1"
              stroke="#E0E0E0"/>

        <line x1="5" y1="102" x2="22" y2="102"
              transform="rotate(60, 102, 102)"
              stroke-width="3"
              stroke="#01579b"/>

        <line x1="3" y1="102" x2="102" y2="102"
              transform="rotate(75, 102, 102)"
              stroke-width="1"
              stroke="#E0E0E0"/>


        <!-- 3rd 5 second mark -->
        <line x1="3" y1="102" x2="102" y2="102"
              transform="rotate(105, 102, 102)"
              stroke-width="1"
              stroke="#E0E0E0"/>

        <line x1="3" y1="102" x2="102" y2="102"
              transform="rotate(120, 102, 102)"
              stroke-width="1"
              stroke="#E0E0E0"/>

        <line x1="5" y1="102" x2="22" y2="102"
              transform="rotate(120, 102, 102)"
              stroke-width="3"
              stroke="#01579b"/>


        <!-- 4th 5 second mark -->
        <line x1="3" y1="102" x2="102" y2="102"
              transform="rotate(135, 102, 102)"
              stroke-width="1"
              stroke="#E0E0E0"/>

        <line x1="3" y1="102" x2="102" y2="102"
              transform="rotate(150, 102, 102)"
              stroke-width="1"
              stroke="#E0E0E0"/>

        <line x1="5" y1="102" x2="22" y2="102"
              transform="rotate(150, 102, 102)"
              stroke-width="3"
              stroke="#01579b"/>

        <line x1="3" y1="102" x2="102" y2="102"
              transform="rotate(165, 102, 102)"
              stroke-width="1"
              stroke="#E0E0E0"/>


        <!-- 5th 5 second mark -->
        <line x1="3" y1="102" x2="102" y2="102"
              transform="rotate(195, 102, 102)"
              stroke-width="1"
              stroke="#E0E0E0"/>

        <line x1="3" y1="102" x2="102" y2="102"
              transform="rotate(210, 102, 102)"
              stroke-width="1"
              stroke="#E0E0E0"/>

        <line x1="5" y1="102" x2="22" y2="102"
              transform="rotate(210, 102, 102)"
              stroke-width="3"
              stroke="#01579b"/>


        <!-- 6th 5 second mark -->
        <line x1="3" y1="102" x2="102" y2="102"
              transform="rotate(225, 102, 102)"
              stroke-width="1"
              stroke="#E0E0E0"/>

        <line x1="3" y1="102" x2="102" y2="102"
              transform="rotate(240, 102, 102)"
              stroke-width="1"
              stroke="#E0E0E0"/>

        <line x1="5" y1="102" x2="22" y2="102"
              transform="rotate(240, 102, 102)"
              stroke-width="3"
              stroke="#01579b"/>

        <line x1="3" y1="102" x2="102" y2="102"
              transform="rotate(255, 102, 102)"
              stroke-width="1"
              stroke="#E0E0E0"/>


        <!-- 7th 5 second mark -->
        <line x1="3" y1="102" x2="102" y2="102"
              transform="rotate(285, 102, 102)"
              stroke-width="1"
              stroke="#E0E0E0"/>

        <line x1="3" y1="102" x2="102" y2="102"
              transform="rotate(300, 102, 102)"
              stroke-width="1"
              stroke="#E0E0E0"/>

        <line x1="5" y1="102" x2="22" y2="102"
              transform="rotate(300, 102, 102)"
              stroke-width="3"
              stroke="#01579b"/>


        <!-- 8th 5 second mark -->
        <line x1="3" y1="102" x2="102" y2="102"
              transform="rotate(315, 102, 102)"
              stroke-width="1"
              stroke="#E0E0E0"/>

        <line x1="3" y1="102" x2="102" y2="102"
              transform="rotate(330, 102, 102)"
              stroke-width="1"
              stroke="#E0E0E0"/>

        <line x1="5" y1="102" x2="22" y2="102"
              transform="rotate(330, 102, 102)"
              stroke-width="3"
              stroke="#01579b"/>

        <line x1="3" y1="102" x2="102" y2="102"
              transform="rotate(345, 102, 102)"
              stroke-width="1"
              stroke="#E0E0E0"/>


        <!-- Horizontal Line -->
        <line x1="1" y1="101" x2="203" y2="102"
              stroke-width="3"
              stroke="#01579b"/>


        <!-- Vertical Middle Line -->
        <line x1="102" y1="1" x2="102" y2="203"
              stroke-width="3"
              stroke="#01579b"/>
    </g>

    <g class="clock_hand">
        <polygon points="96,102 102,1 108,102"
                 fill="#01579b"
                 stroke="#E0E0E0"/>
        <circle cx="102" cy="101" r="6"
                fill="#01579b"
                stroke="#E0E0E0"/>
    </g>

</svg>